<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Keep the official NuGet public feed -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    
    <!-- Register the local repository relative folder as a packages feed -->
    <add key="LocalWorkspaceFeed" value="ThirdParty/Packages" />
  </packageSources>
</configuration>
