<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" 
             Name="FilterPlus" 
             Language="1033" 
             Version="1.0.0.0" 
             Manufacturer="DabaDev" 
             UpgradeCode="5E7F46B1-A7D4-4E8B-B0D1-1C9C8B5F9E01">
        
        <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <MediaTemplate EmbedCab="yes" />

        <UIRef Id="WixUI_Minimal" />
        <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />

        <Feature Id="ProductFeature" Title="FilterPlus" Level="1">
            <ComponentGroupRef Id="Revit2023Components" />
            <ComponentGroupRef Id="Revit2024Components" />
            <ComponentGroupRef Id="Revit2025Components" />
            <ComponentGroupRef Id="Revit2026Components" />
            <ComponentGroupRef Id="Revit2027Components" />
        </Feature>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="AppDataFolder">
                <Directory Id="AutodeskDir" Name="Autodesk">
                    <Directory Id="RevitDir" Name="Revit">
                        <Directory Id="AddinsDir" Name="Addins">
                            <!-- Estructura Multi-versión -->
                            <Directory Id="REVIT2023" Name="2023"><Directory Id="FOLDER2023" Name="FilterPlus"/></Directory>
                            <Directory Id="REVIT2024" Name="2024"><Directory Id="FOLDER2024" Name="FilterPlus"/></Directory>
                            <Directory Id="REVIT2025" Name="2025"><Directory Id="FOLDER2025" Name="FilterPlus"/></Directory>
                            <Directory Id="REVIT2026" Name="2026"><Directory Id="FOLDER2026" Name="FilterPlus"/></Directory>
                            <Directory Id="REVIT2027" Name="2027"><Directory Id="FOLDER2027" Name="FilterPlus"/></Directory>
                        </Directory>
                    </Directory>
                </Directory>
            </Directory>
        </Directory>
    </Fragment>

    <Fragment>
        <!-- Revit 2024 (Ejemplo detallado) -->
        <ComponentGroup Id="Revit2024Components">
            <!-- Archivo .addin en la raíz de la versión -->
            <Component Id="Addin_2024" Guid="*" Directory="REVIT2024">
                <File Source="..\bin\Release.R24\publish\FilterPlus.addin" Id="Addin2024" />
            </Component>
            <!-- DLLs en la subcarpeta FilterPlus -->
            <Component Id="Dlls_2024" Guid="*" Directory="FOLDER2024">
                <File Source="..\bin\Release.R24\publish\FilterPlus\FilterPlus.dll" Id="Dll2024" />
                <File Source="..\bin\Release.R24\publish\FilterPlus\Nice3point.Revit.Extensions.dll" Id="Ext2024" />
                <File Source="..\bin\Release.R24\publish\FilterPlus\Nice3point.Revit.Toolkit.dll" Id="Tlk2024" />
                <File Source="..\bin\Release.R24\publish\FilterPlus\CommunityToolkit.Mvvm.dll" Id="Mvvm2024" />
                <File Source="..\bin\Release.R24\publish\FilterPlus\JetBrains.Annotations.dll" Id="Ann2024" />
            </Component>
        </ComponentGroup>

        <!-- Se repite la misma estructura para 2023, 2025, 2026, 2027 -->
        <!-- Nota: Para brevedad en este ejemplo, he incluido solo 2024 detallado. 
             El MSI final debe incluir los ComponentGroups para el resto de años de forma idéntica. -->
             
        <ComponentGroup Id="Revit2023Components"><Component Id="A23" Guid="*" Directory="REVIT2023"><File Source="..\bin\Release.R23\publish\FilterPlus.addin" Id="Ad23"/></Component><Component Id="D23" Guid="*" Directory="FOLDER2023"><File Source="..\bin\Release.R23\publish\FilterPlus\FilterPlus.dll" Id="Dl23"/></Component></ComponentGroup>
        <ComponentGroup Id="Revit2025Components"><Component Id="A25" Guid="*" Directory="REVIT2025"><File Source="..\bin\Release.R25\publish\FilterPlus.addin" Id="Ad25"/></Component><Component Id="D25" Guid="*" Directory="FOLDER2025"><File Source="..\bin\Release.R25\publish\FilterPlus\FilterPlus.dll" Id="Dl25"/></Component></ComponentGroup>
        <ComponentGroup Id="Revit2026Components"><Component Id="A26" Guid="*" Directory="REVIT2026"><File Source="..\bin\Release.R26\publish\FilterPlus.addin" Id="Ad26"/></Component><Component Id="D26" Guid="*" Directory="FOLDER2026"><File Source="..\bin\Release.R26\publish\FilterPlus\FilterPlus.dll" Id="Dl26"/></Component></ComponentGroup>
        <ComponentGroup Id="Revit2027Components"><Component Id="A27" Guid="*" Directory="REVIT2027"><File Source="..\bin\Release.R27\publish\FilterPlus.addin" Id="Ad27"/></Component><Component Id="D27" Guid="*" Directory="FOLDER2027"><File Source="..\bin\Release.R27\publish\FilterPlus\FilterPlus.dll" Id="Dl27"/></Component></ComponentGroup>
    </Fragment>
</Wix>
